@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card {
        display: flex;
        border-radius: 15px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
      }
      
      .card:not(:first-child) {
          margin-left: -150px;
      }
      
      .card:hover {
        transform: translateX(-70px);
        transition: 0.4s ease-out;
      }
      
      .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
      
      .card:hover .filledbar {
        width: 120px;
        transition: 0.4s ease-out;
      }
      
      
      .card:hover .stroke {
        stroke-dashoffset: 100;
        transition: 0.6s ease-out;
      }

      .contact-form {
        @apply flex flex-col gap-4 mt-5 w-full
      }

      .contact-form>input {
        @apply border w-full p-[10px] text-[0.7rem] text-neutral-600 outline-none rounded-xl border-neutral-600/40
      }

      .footer-social {
        @apply gap-3 w-full
      }

      .footer-social>div {
        @apply bg-[#f2f1f1] p-[6px] text-neutral-600 rounded-full
      }

      .site-map>p {
        @apply  mb-4
      }

      .site-map>ul {
        @apply flex flex-col gap-2 text-sm font-light text-neutral-600
      }

      .site-map>ul>li {
        cursor: pointer;
        display: inline-block;
      }

      .nav-ul>li {
        @apply cursor-pointer
      }
}

@layer base {
    html {
        @apply scroll-smooth
    }
}